html,
body {
  overflow: hidden;
}
.logo-thumbnail {
  width: 15rem;
}
.menu, .close{
  font-size: 2rem !important;
}
#funzoneModal .modal-body , #creditsModal .modal-body {
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.dropdown-menu {
  z-index: 99999;
}
.active,
.show>.nav-link {
  color: #255c65 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #2f9184;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #255c65;
}
.dropdown-item,.dropdown-menu{
  background-color: #71c28d !important;
  color:#ffffff !important;
}
.dropdown-item:active, .dropdown-item:hover{
  background-color: #2f9184 !important;
}
.desktop{display: block;}
.mobile{display: none;}
.embed-responsive{
  width: 90% !important;
}
@media (max-width: 767.98px) {
  .desktop{ display:none;}
  .mobile{display: block;}
}


.blue {
  color: #255c65;
}

.ocean-blue {
  color: #2f9184;
}

.green {
  color: #71c28d;
}
