html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.logo-thumbnail {
  width: 15rem;
}
.menu, .close{
  font-size: 2rem !important;
}
.close {
  top: 0;
  right: 0;
  opacity: 1;
}
a.title-cat {
  font-size: 1.5rem;
}
#expand {
  overflow-y: auto;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  z-index: 1;
  top: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
  background-image: url("./Poster-invite.png");
}

.dropdown-item:hover {
  color: black !important;
}

.active-cat {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.whitespace {
  white-space: initial;
}

div.border-notice {
  border-radius: 2.5rem;
  border: 1rem solid #a6a6a6 !important;
  /*background-image: url('./red.png');*/
}

.border-parent {
  border-radius: 1.5rem;
}

.category {
  /* background-color: #2f9184; */
  /* border-bottom : 1px solid grey; */
  font-size : 40px;
}
